@page "/dashboard/Sales"
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="div_Header">
    <div class="div_ProductIHeader center">
        <a href="/">
            <div class="Logo LogoHome">
                <span class="span_authentic">authentic</span><span class="span_on">on</span>
            </div>
        </a>
    </div>
</div>


<div class="configuracoes-da-conta-enderecoscreen">
    <Menu></Menu>
    <div class="endereos-MqCXpt">Vendas</div>
    <div class="adicione-ou-remova-endereos-rapidamente-MqCXpt">Aqui você encontra todos os dados de faturamento,
        produtos mais vendidos e produtos com pouco estoque.</div>
    <div class="frame-146-MqCXpt align">
        <div class="frame-145-P5UcTa">
            <div class="frame-143-ylKkaG">
                <div class="valorTotal inter-bold-woodsmoke-16px">Valor total
                    dos pedidos</div>
                <div class="casa-luan-xeaAYD inter-bold-woodsmoke-8px">R$</div>
                <div class="casa-luan-xeaAYD inter-bold-woodsmoke-32px">124.504,97</div>
            </div>
            <div class="frame-144-ylKkaG">
                <div class="div_InformationAboutProductTitle titlecard inter-medium-woodsmoke-18px">Detalhes
                </div>
                <div class="div_InformationAboutProductEspecific">
                    <div class="div_InformationAboutProductEspecificName2 inter-normal-woodsmoke-20px">Valor Recebido
                    </div>
                    <div class="div_InformationAboutProductEspecificInformation2 inter-normal-woodsmoke-18px">R$
                        84.125,30
                    </div>
                </div>
                <div class="div_InformationAboutProductEspecific">
                    <div class="div_InformationAboutProductEspecificName2 inter-normal-woodsmoke-20px">Quantidade
                        vendida
                    </div>
                    <div class="div_InformationAboutProductEspecificInformation2 inter-normal-woodsmoke-18px">524
                        produtos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frame-147-MqCXpt">
        <div class="frame-145-P5UcTa">
            <div class="frame-143-ylKkaG">
                <div class="valorTotal inter-bold-woodsmoke-16px">Produto
                    mais vendido</div>
                <div class="casa-luan-xeaAYD inter-bold-woodsmoke-32px">Camisa Scorpion</div>
            </div>
            <div class="frame-144-ylKkaG">
                <div class="div_InformationAboutProductTitle titlecard inter-medium-woodsmoke-18px">Classificação geral
                </div>
                <div class="div_InformationAboutProductEspecific">
                    <div class="div_InformationAboutProductEspecificName2 inter-normal-woodsmoke-20px">Camisa Scorpion
                    </div>
                    <div class="div_InformationAboutProductEspecificInformation2 inter-normal-woodsmoke-18px">1.524
                        unidades
                    </div>
                </div>
                <div class="div_InformationAboutProductEspecific">
                    <div class="div_InformationAboutProductEspecificName2 inter-normal-woodsmoke-20px">Vestido Cortana
                    </div>
                    <div class="div_InformationAboutProductEspecificInformation2 inter-normal-woodsmoke-18px">1.132
                        unidades
                    </div>
                </div>
                <div class="div_InformationAboutProductEspecific">
                    <div class="div_InformationAboutProductEspecificName2 inter-normal-woodsmoke-20px">Bermuda Panic
                        Pump
                    </div>
                    <div class="div_InformationAboutProductEspecificInformation2 inter-normal-woodsmoke-18px">824
                        unidades
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>