<div class="Menu">
    <div class="rectangle-20-MqCXpt"></div>
    <div class="voltar-MqCXpt inter-bold-woodsmoke-20px">&lt; voltar</div>
    <div class="nicolas-MqCXpt">Nicolas</div>
    <img class=" ellipse-3-MqCXpt Profile"
        src="https://ui-avatars.com/api/?name=NicolasVargas&background=0185FF&color=FCFCFC&font-size=0.5&&?size=270"
        alt="log-in" />
    <a href="/profile/Information">
        <div class="frame-166-MqCXpt">
            <img class="maps-SWa9AO" src="Imagens/icon_User.png" alt="Maps" />
            <div class="minha-conta-chL6k6 inter-semi-bold-woodsmoke-24px">Minha Conta</div>
        </div>
    </a>
    <a href="/profile/Address">
        <div class="frame-165-MqCXpt">
            <img class="maps-SWa9AO" src="Imagens/icon_Address.png" alt="Maps" />
            <div class="pedidos-Wap3gW inter-semi-bold-woodsmoke-24px">Endereços</div>
        </div>
    </a>
    <a href="/profile/Orders">
        <div class="frame-164-MqCXpt">
            <img class="bags-Wap3gW" src="Imagens/icon_Products.png" alt="Bags" />
            <div class="pedidos-Wap3gW inter-semi-bold-woodsmoke-24px">Pedidos</div>
        </div>
    </a>
</div>