<div class="modal fade" id="modal-contato3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ModalProductsDashboard modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content modal_AddCollection">
            <div class="modal-product2screen ">
                <div class="flex-col modal_AddCollection modalProductsDashboardAlign">
                    <div class="flex-row">
                        <div class="flex-col-1">
                            <h1 class="marginTitle inter-Extrabold-woodsmoke-48px">Cadastrar uma nova coleção</h1>
                        </div>
                    </div>
                    <div class="flex-row-1 flex-row-11">
                        <div class="flex-col-3">
                            <div class="flex-row-3">
                                <div class="nome inter-bold-woodsmoke-16px">Nome*</div>
                            </div>
                            <div class="frame-container">
                                <div class="frame">
                                    <input class="camisasubtitleprice inputModal" placeholder="Ex: Camisa" />
                                </div>
                            </div>
                            <button class="btn_colection ColectionDs">
                                <div class="cadastrar-produto">Cadastrar coleção</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>