<div class="modal fade" id="modal-contatoAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ModalProductsDashboard modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-product2screen">
                <div class="flex-col modalProductsDashboardAlign">
                    <div class="flex-row">
                        <div class="flex-col-1">
                            <h1 class="inter-Extrabold-woodsmoke-48px">Cadastrar um novo Endereço</h1>
                        </div>
                        <img class="x" src="Imagens/icon_Cancel.png" alt="x" />
                    </div>
                    <div class="flex-row-1">
                        <div class="flex-col-2">
                            @* Image *@
                            @* </div>
                                <div class="flex-col-3"> *@
                            <div class="flex-row-3">
                                <div class="nome inter-bold-woodsmoke-16px">Nome do Endereço*</div>
                                <div class="categoria inter-bold-woodsmoke-16px">CEP*</div>
                            </div>
                            <div class="frame-container">
                                <div class="frame">
                                    <input class="camisasubtitleprice inputModal" placeholder="Ex: Casa" />
                                </div>
                                <div class="frame">
                                    <input class="camisasubtitleprice inputModal" placeholder="Ex: 15054-876" />
                                </div>
                            </div>
                            <div class="flex-row-4">
                                <div class="cor inter-bold-woodsmoke-16px">Nº*</div>
                                <div class="tamanho inter-bold-woodsmoke-16px">Complemento*</div>
                            </div>
                            <div class="frame-container">
                                <div class="frame">
                                    <input class="camisasubtitleprice inputModal" placeholder="Ex: 061" />
                                </div>
                                <div class="frame">
                                    <input class="camisasubtitleprice inputModal" placeholder="Apt 2022" />
                                </div>
                            </div>
                            <button class="btn_colection">
                                <div class="cadastrar-produto">Cadastrar Endereço</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>