@page "/profile/Orders"
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="modal fade" id="modal-contato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog ModalProductsOrder modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header Line">
                <div class="frame-208">
                    <div class="frame-207">
                        <div class="frame-205">
                            <div class="dados-do-pedido">Dados do pedido</div>
                        </div>
                        <div class="frame-206">
                            <button class="buttonsOrder">
                                <img class="frame-206-item" src="Imagens/icon_Check.png" alt="check" />
                            </button>
                            <button class="buttonsOrder">
                                <img class="frame-206-item" src="Imagens/icon_Cancel.png" alt="x" />
                            </button>
                        </div>
                    </div>
                </div>


            </div>


            <div class="modal-body">

                <div class="frame-20">
                    <div class="rectangle-32"></div>
                    <div class="frame-201">
                        <div class="camisa-scorpion inter-bold-woodsmoke-18px">Camisa Scorpion</div>
                        <div class="frame-200">
                            <div class="frame-199">
                                <div class="cor-preto inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">cor: </span><span
                                        class=" inter-bold-woodsmoke-16px">preto</span>
                                </div>
                                <div class="quantidade-02 inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">quantidade: </span><span
                                        class=" inter-bold-woodsmoke-16px">02</span>
                                </div>
                                <div class="valor-unitrio-r-1 inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">valor unitário: </span><span
                                        class=" inter-bold-woodsmoke-16px">R$ 189,99</span>
                                </div>
                            </div>
                            <div class="frame-193">
                                <div class="valor-total inter-normal-woodsmoke-16px">valor total:</div>
                                <div class="price inter-bold-woodsmoke-16px">R$ 379,98</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="frame-20">
                    <div class="rectangle-32"></div>
                    <div class="frame-201">
                        <div class="camisa-scorpion inter-bold-woodsmoke-18px">Camisa Scorpion</div>
                        <div class="frame-200">
                            <div class="frame-199">
                                <div class="cor-preto inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">cor: </span><span
                                        class=" inter-bold-woodsmoke-16px">preto</span>
                                </div>
                                <div class="quantidade-02 inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">quantidade: </span><span
                                        class=" inter-bold-woodsmoke-16px">02</span>
                                </div>
                                <div class="valor-unitrio-r-1 inter-normal-woodsmoke-16px">
                                    <span class=" inter-normal-woodsmoke-16px">valor unitário: </span><span
                                        class=" inter-bold-woodsmoke-16px">R$ 189,99</span>
                                </div>
                            </div>
                            <div class="frame-193">
                                <div class="valor-total inter-normal-woodsmoke-16px">valor total:</div>
                                <div class="price inter-bold-woodsmoke-16px">R$ 379,98</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="frame-209">
                    <div class="frame-204">
                        <div class="frame-204-item inter-bold-woodsmoke-18px">Total do pedido:</div>
                        <div class="frame-204-item inter-bold-woodsmoke-18px">R$ 544,57</div>
                    </div>
                </div>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>

<div class="div_Header">
    <div class="div_ProductIHeader center">
        <a href="/">
            <div class="Logo LogoHome">
                <span class="span_authentic">authentic</span><span class="span_on">on</span>
            </div>
        </a>
    </div>
</div>

<MenuCustomer></MenuCustomer>
<div class="endereos-MqCXpt">Pedidos</div>
<div class="adicione-ou-remova-endereos-rapidamente-MqCXpt">Aqui você encontra todos os pedidos, podendo confirmar,
    excluir e visualizar cada um.</div>

<div class="frame-146-MqCXpt background">
    <div class="headerorder-xXpAQP">
        <div class="frame-156-MzCI4w">
            <div class="frame-155-w8xfty">
                <div class="frame-153-UQCwGm">
                    <div class="frame-149-CFclLN">
                        <div class="pedido-lzpZVW inter-bold-woodsmoke-16px">Pedido</div>
                        <div class="pedido0003-lzpZVW inter-medium-woodsmoke-16px">#Pedido0003</div>
                    </div>
                    <div class="frame-150-CFclLN">
                        <div class="data-do-pedido-z4Aq53 inter-bold-woodsmoke-16px">Data do pedido</div>
                        <div class="x12112022-z4Aq53 inter-medium-woodsmoke-16px">12/11/2022</div>
                    </div>
                </div>
                <div class="frame-154-UQCwGm">
                    <div class="frame-151-Vc8dpm">
                        <div class="status-do-pedido-hhCxFn inter-bold-woodsmoke-16px">Status do pedido</div>
                        <div class="em-processo-hhCxFn">Em processo</div>
                    </div>

                </div>
            </div>
            <button type="button" class="btn btn-primary btnOrdersDashboard" data-toggle="modal"
                data-target="#modal-contato">
                <img class="polygon-3-w8xfty" src="Imagens/icon_DownArrow.png" alt="Polygon 3" />
            </button>
        </div>
    </div>

    <div class="headerorder-xXpAQP">
        <div class="frame-156-MzCI4w">
            <div class="frame-155-w8xfty">
                <div class="frame-153-UQCwGm">
                    <div class="frame-149-CFclLN">
                        <div class="pedido-lzpZVW inter-bold-woodsmoke-16px">Pedido</div>
                        <div class="pedido0003-lzpZVW inter-medium-woodsmoke-16px">#Pedido0003</div>
                    </div>
                    <div class="frame-150-CFclLN">
                        <div class="data-do-pedido-z4Aq53 inter-bold-woodsmoke-16px">Data do pedido</div>
                        <div class="x12112022-z4Aq53 inter-medium-woodsmoke-16px">12/11/2022</div>
                    </div>
                </div>
                <div class="frame-154-UQCwGm">
                    <div class="frame-151-Vc8dpm">
                        <div class="status-do-pedido-hhCxFn inter-bold-woodsmoke-16px">Status do pedido</div>
                        <div class="em-processo-hhCxFn">Em processo</div>
                    </div>

                </div>
            </div>
            <button type="button" class="btn btn-primary btnOrdersDashboard" data-toggle="modal"
                data-target="#modal-contato">
                <img class="polygon-3-w8xfty" src="Imagens/icon_DownArrow.png" alt="Polygon 3" />
            </button>
        </div>
    </div>
    <div class="headerorder-xXpAQP">
        <div class="frame-156-MzCI4w">
            <div class="frame-155-w8xfty">
                <div class="frame-153-UQCwGm">
                    <div class="frame-149-CFclLN">
                        <div class="pedido-lzpZVW inter-bold-woodsmoke-16px">Pedido</div>
                        <div class="pedido0003-lzpZVW inter-medium-woodsmoke-16px">#Pedido0003</div>
                    </div>
                    <div class="frame-150-CFclLN">
                        <div class="data-do-pedido-z4Aq53 inter-bold-woodsmoke-16px">Data do pedido</div>
                        <div class="x12112022-z4Aq53 inter-medium-woodsmoke-16px">12/11/2022</div>
                    </div>
                </div>
                <div class="frame-154-UQCwGm">
                    <div class="frame-151-Vc8dpm">
                        <div class="status-do-pedido-hhCxFn inter-bold-woodsmoke-16px">Status do pedido</div>
                        <div class="em-processo-hhCxFn">Em processo</div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btnOrdersDashboard" data-toggle="modal"
                data-target="#modal-contato">
                <img class="polygon-3-w8xfty" src="Imagens/icon_DownArrow.png" alt="Polygon 3" />
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public List<Order>? orders { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        orders = await Http.GetFromJsonAsync<List<Order>?>($"orderproductCustomer/{Id}");
    }

    public class Order
    {
        public int OrderID { get; set; }
        public DateTime OrderDate { get; set; }
        public decimal Freight { get; set; }
        public decimal TotalPriceOrder { get; set; }
        public int Status { get; set; }

    }

}
